{{ partial "header.html" . }}
{{ if (or (in .Site.Params.blogs .Section) (and (eq "blog" .Section) (not (isset .Site.Params "blogs")))) }}
	<div class="main column">
		<div class="container">
			<div class="content">
				<div class="posts">
					<div class="page-heading">{{ .Title }}</div>
					<div class="page-subheading">{{ .Content }}</div>
					<ul>
						{{ range .Data.Pages.GroupByDate "Jan, 2006" "desc"}}
							<li class="groupby">{{ .Key }}</li>
							{{ range sort .Pages "Date" "desc" }}
								{{ partial "li.html" . }}
							{{ end }}
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
{{ else }}
	<div class="main column">
		<div class="container">
			<div class="content">
				<div class="posts">
					<div class="page-heading">{{ .Title }}</div>
					<div class="page-subheading">{{ .Content }}</div>
					<ul>
						{{ range sort .Pages "Date" "desc" }}
							{{ partial "li.html" . }}
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
{{ end }}
{{ partial "footer.html" . }}
